@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@400;700&family=Roboto+Condensed:wght@700&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #000e02;
    color: #fff;
    font-family: 'Handjet', cursive;
    font-weight: 700;
    position: relative;

}

.container-produtos {
    display: grid;
    grid-template-columns: 50% 50%;
}

.container1 {
    margin-left: 0.55em;
}

.container2 {
    margin-right: 0.55em;
}

.produto {
    position: relative;
    margin-top: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(19, 190, 31, 0.1) 0px 10px 50px;
}

.nome-produto {
    font-size: 1.5em;
    text-align: center;
    padding: 0.25em;
}

.subtitulo-produto {
    text-align: center;
    color: #0a811e;
}


.input {
    display: none;
}

.input2 {
    display: none;
}

.div-preco-produto {
    gap: 1em;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    margin-top: 0.8em;
    position: relative;
    align-items: center;

}

.div-preco-produto2 {
    display: none;


}

.div-preco-produto2ON {
    display: flex;
    align-items: center;
    gap: 1em;
    text-align: center;
}

.preco-produto {
    text-align: center;
    font-size: 1.55em;
    padding: 0.25em;
    border-radius: 0.25em;
    color: black;
    margin-left: 0.45em;
    background-color: yellow;
}

.preco-produto2 {
    text-align: center;
    font-size: 3em;
    padding: 0.25em;
    border-radius: 0.25em;
    color: black;
    background-color: yellow;
}


.descricao {
    display: none;
    width: 100%;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.308);
    padding: 1em;
    border-radius: 1em;
    opacity: 88%;
}

.div-nome-descricao {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1em;
    border-radius: 1em;
}

.descricao-produto {
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1em;
}

.botao-fechar {
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-260%, -600%);
    background-color: rgba(0, 0, 0, 0.826);
    color: #fff;
    z-index: 9999;
    border-radius: 1em;
    display: none;
}

.produto-fixo {
    text-align: center;
}

.displayON {
    display: block;
}

.displayNone {
    display: none;
}

.displayFixo {
    width: 60%;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.826);
    color: #fff;
    padding: 2em;
    z-index: 9999;
    border-radius: 1em;
}

.carrinho-de-itens {
    position: fixed;
    border: 1px solid green;
    border-radius: 1em;
    background-color: #a88d09b3;
    color: white;
    top: 90%;
    left: 75%;
}

.teste {
    color: white;
    background-image: url("../icons/cart4.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 200px;
}

.botao {
    font-size: 3em;
}

.botao2 {
    display: none;
    font-size: 3em;
    color: green;
    animation: moviment 0.8s 0.15s;
}

@keyframes moviment {
    0% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(-5px) rotate(-5deg);
    }

    20% {
        transform: translateX(5px) rotate(5deg);
    }

    30% {
        transform: translateX(-5px) rotate(-5deg);
    }

    40% {
        transform: translateX(5px) rotate(5deg);
    }

    50% {
        transform: translateX(-5px) rotate(-5deg);
    }

    60% {
        transform: translateX(5px) rotate(5deg);
    }

    70% {
        transform: translateX(-5px) rotate(-5deg);
    }

    80% {
        transform: translateX(5px) rotate(5deg);
    }

    90% {
        transform: translateX(-5px) rotate(-5deg);
    }

    100% {
        transform: translateX(0);
    }
}

.botaoNone {
    display: none;
}

.botaoOn {
    display: block;
}

.ponto-vermelho {
    display: none;
    font-size: 2em;
    left: 93%;
    position: fixed;
    transform: translate(-50%, -50%);
    background-color: rgba(19, 113, 3, 0.826);
    color: #fff;
    padding: 0.25em;
    z-index: 9999;
    border-radius: 1em;
}

.ponto-vermelhoOn {
    display: block;
}

.carrinho-de-compras {
    width: 79%;
    height: 90%;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    color: #fff;
    padding: 2em;
    z-index: 9999;
    border-radius: 1em;
}