@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    background-color: #030000;
    position: relative;
}



.container {

    display: flex;
    flex-direction: column;
    align-items: center;

}

.logo {
    margin-top: 1em;
    margin-bottom: 2em;
    border-radius: 100%;
    background-color: #000;
    width: auto;
    height: 15em;
    box-shadow: rgba(17, 46, 18, 0.15) 0px 48px 100px 0px;
}

.icon- {
    width: 3.5em;
    height: auto;
}

.links {
    padding: 0 1em 1em 1em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.produto-texto{
margin-right: 1em;
}

.container a {  
    text-decoration: none;
    box-shadow: rgb(14, 25, 15) 0px 48px 100px 0px;
    color: #beb9b9;
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    text-align: center;
    padding: 1em 1.45em 1.45em 1em;
    margin-bottom: 1em;
    border-radius: 1em;
    width: 100%;
}

.texto-link {
    font-size: 1.5em;
    
}

.footer {
    color: white;
    font-size: 0.65em;
    margin-top: 2em;
}