@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@400;700&family=REM:wght@400;700&family=Source+Code+Pro&display=swap');
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.989);   
    font-family: 'REM', sans-serif;
    font-weight: 700;
}

.h2carrinho{
    position: relative;
    margin-top: 1.8em;
    color: #fff;
    font-size: 1.5em;
}
.h2carrinho span{
    color: green;
}
.a{
    top: 2%;
    left: 2%;
    position: fixed;
    margin-bottom: 1.5em;
    margin-left: 1em;
}
.botao-voltar-pagina-compras{
    color: #ffffff;
    font-size: 2em;
    padding: 0.35;
    background-color: #0a0a0915; 
    box-shadow: rgba(19, 190, 31, 0.1) 0px 10px 50px;
    border-radius: 0.25em;  

}

.container-item{
    display: flex;
    position: relative;
    align-items: center;
}
.carrinho-de-compras{
    color: #fff;
        margin-top: 7.5em;
        width: 90%;
}
.item {
    display: flex;
    align-items: center;
    box-shadow: rgba(5, 116, 13, 0.317) 0px 10px 50px;
    border-radius: 0.55em;
    margin-top: 0.80em;
    width: 20em;
    padding: 0.45em;
}

.item img {
    background-color: #24212139;
    width: 7em;
    height: auto;
    border-radius: 1em;
}
.nome-item{
    text-align: center;
    font-size: 1.5em;
    margin-right: 0.45em;
}
.preco-item{
    font-size: 1.2em;
    background-color: rgb(255, 255, 0);
    border-radius: 0.25em;
    color: #000;
    padding: 0.25em;
    margin-top: 1em;
}
.nome-preco{
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.valor-total{
    font-size: 1.5em;
    left: 45%;
    top: 94.8%;
    position: fixed;
    transform: translate(-50%, -50%);
    background-color: rgba(215, 253, 0, 0.795);
    color: #000;
    padding: 0.25em;
    z-index: 9999;
    border-radius: 0.45em;
}
.enviar-pedido {
    font-size: 1.25em;
    left: 80%;
    top: 93.8%;
    position: fixed;
    transform: translate(-50%, -50%);
    background-color: rgba(6, 239, 29, 0.826);
    box-shadow: rgba(22, 23, 22, 0.434) 0px 7px 29px 0px;
    color: #fff;
    padding: 0.25em;
    z-index: 9999;
    border: 1px solid rgb(65, 47, 47);
    border-radius: 0.80em;
    padding-right: 3em;
    padding-left: 0.7em;
}
.cancelar-item{
    margin-left: 0.45em;
    font-size: 1.65em;
    opacity: 92%;
   
    padding: 0.45em;
    border-radius: 15%;
    color: rgba(255, 0, 0, 0.879);
}
.storageVazioTexto{
    margin-top: 3em;
    color: red;
    text-align: center;
}
.whatsapp{
    z-index: 9999;
    top: 91.98%;
    left: 85%;
    position: fixed; 
    font-size: 2em;
}